/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* My Personal Colors */
  --clr-primary-a: #33ff66;
  --clr-secondary: #08b3e2;
  --clr-thirdary: #b79fad;
  --clr-forth: #2f384c;
  --clr-black: #002424;
  --clr-primary-light: hsl(123, 87%, 91%);
  /* dark shades of primary color*/
  --clr-seconday-100: #cfd6d6;
  --clr-secondary-200: #9ba9a9;
  --clr-secondary-300: #687d7d;
  --clr-secondary-400: #345050;
  --clr-secondary-500: #002424;
  --clr-secondary-600: #001d1d;
  --clr-secondary-700: #001515;
  --clr-secondary-800: #000e0e;
  --clr-secondary-900: #000707;
  /* lighter shades of primary color */
  --clr-primary-100: #d4e9df;
  --clr-primary-200: #a1cfba;
  --clr-primary-300: #6eb595;
  --clr-primary-400: #3c9b70;
  --clr-primary-500: #09814b;
  --clr-primary-600: #07663c;
  --clr-primary-700: #054c2c;
  --clr-primary-800: #03311d;
  --clr-primary-900: #02170d;
  /*  */

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

img:not(.form-spree) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-500);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  background: var(--clr-primary-400);
}

.btn-secondary {
  background: var(--clr-grey-1);
}

.btn-secondary:hover {
  background: var(--clr-grey-2);
}

.btn-tertiary {
  background: hsl(209, 28%, 39%);
}

.btn-tertiary:hover {
  background: var(--clr-grey-1);
}

.current {
  border-bottom: 2px solid var(--clr-primary-500);
  padding-bottom: 4px;
}

.sidebar-links .current-2 {
  border-bottom: 2px solid var(--clr-white);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-500);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

.bg-white {
  background: var(--clr-white);
}

.bg-purple {
  background: hsl(120, 2%, 81%);
}

/*
=============== 
Navbar
===============
*/
.nav-logo {
  display: inline-block;
  white-space: nowrap;
  color: var(--clr-white);
  border: 2px solid var(--clr-primary-500);
  padding: 0.2rem 0.5rem;
}

.nav-logo span {
  color: var(--clr-primary-500);
}

.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--clr-forth);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-500);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-white);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary-500);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-links {
    justify-self: end;
  }
}

/* Fixed Navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-grey-1);
  z-index: 2;
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  z-index: 4;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(-130%);
  -ms-transform: translateY(-130%);
  transform: translateY(-130%);
}

.show-sidebar {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 1.8rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-primary-500);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.1rem 0.6rem;
  border: 2px solid transparent;
}

.sidebar-links a:hover {
  color: #222;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.social-sidebar {
  justify-content: center;
}

.social-icons a {
  color: var(--clr-primary-500);
  font-size: 1.6rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.social-icons a:hover {
  border-radius: 50%;
  color: #222;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  color: #222;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.close-btn:hover {
  color: rgb(196, 0, 0);
}

.hero .header-social-icons {
  color: var(--clr-primary-500);
  font-size: 1.5rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border: 2px solid transparent;
}

.hero .header-social-icons:hover {
  color: var(--clr-primary-a);
  border-color: transparent;
}

/*
=============== 
Hero
===============
*/
.hero h1 {
  color: var(--clr-primary-500);
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-img {
  display: none;
  position: relative;
}

.hero {
  background: var(--clr-grey-1);
  background: var(--clr-forth);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

.hero-info h4 {
  color: var(--clr-grey-5);
}

.hero-icons {
  justify-items: start;
  max-width: 20rem;
}

.hero-btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .hero-img {
    display: block;
  }

  .hero-center {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .hero-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-500);
    left: 2rem;
    top: 2rem;
    border-radius: var(--radius);
  }
}

.hero-photo {
  max-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}
/*
=============== 
About
===============
*/

.about {
  background: hsl(120, 2%, 81%);
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 0;
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-photo {
  border-radius: var(--radius);
}

.about-center p {
  letter-spacing: 2px;
}

.about-img {
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .about-center {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

/*
=============== 
Services
===============
*/
.service {
  background: var(--clr-primary-500);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--clr-grey-1);
}

.service .underline {
  width: 3rem;
  height: 0.15rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background: var(--clr-grey-1);
}

.service:nth-of-type(2) .underline {
  height: 0.1rem;
}

.service h4 {
  color: var(--clr-grey-1);
}

.service p {
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  letter-spacing: 2px;
  max-width: 327px;
  margin: 0 auto 1.25rem;
}

.service hr {
  color: var(--clr-white);
}

.color .service hr {
  color: var(--clr-white);
}

.service-ul {
  margin-top: 1rem;
  color: var(--clr-grey-1);
  text-align: left;
}

.service-ul li {
  transition: var(--transition);
}

.color .service-ul {
  color: var(--clr-white);
}

.service-flex {
  display: flex;
  justify-content: center;
}

.service-flex ul li {
  display: flex;
  align-items: center;
  gap: 0 0.4rem;
}

.service .click-more {
  margin: 1.3rem 0 0;
  color: var(--clr-white);
  font-size: 0.8rem;
}

.color .service {
  background: var(--clr-forth);
  color: var(--clr-white);
}

.color p,
.color h4,
.color .service-icon {
  color: var(--clr-white);
}

.color .underline {
  background: var(--clr-white);
}

.hidden {
  display: none;
}

.show .visable {
  display: block;
}

.click .dont-show {
  display: none;
}

@media screen and (min-width: 768px) {
  .services-center {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1072px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
  }
}

/*
=============== 
Projects
===============
*/
.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
  letter-spacing: 2px;
}

.project {
  position: relative;
  background: var(--clr-primary-500);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  padding: 1rem;
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project-img {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid transparent;
  border-radius: var(--radius);
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  opacity: 0;
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .project:hover .project-info {
    opacity: 1;
  }
  .project:hover .project-img {
    opacity: 0.2;
  }
  .project:hover::after {
    opacity: 1;
    -webkit-transform: scale(-0.8);
    -ms-transform: scale(-0.8);
    transform: scale(-0.8);
    border-color: var(--clr-white);
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: repeat(200px, 200px);
    gap: 1rem;
    grid-template-areas:
      'a b b'
      'a c d';
  }

  .project-img,
  .project {
    height: 100%;
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }

  .project-3 {
    grid-area: c;
  }

  .project-4 {
    grid-area: d;
  }
}

/*
=============== 
Connect
===============
*/
.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.connect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.connect {
  display: grid;
  place-items: center;
}

.video-banner .section-title {
  margin-bottom: 2rem;
}

.video-banner {
  background: var(--clr-primary-500);
  color: var(--clr-white);
  padding: 3rem 3rem 12rem 3rem;
  text-align: center;
  opacity: 0.7;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    75% 85%,
    75% 100%,
    50% 85%,
    0% 85%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    75% 85%,
    75% 100%,
    50% 85%,
    0% 85%
  );
}

.video-text {
  color: var(--clr-white);
  max-width: 30rem;
  letter-spacing: 2px;
}

/*
=============== 
Skills
===============
*/
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.skills {
  background: hsl(120, 2%, 81%);
}

.skills h4 {
  margin: 1.5rem 0;
}

.skill {
  margin-bottom: 1.25rem;
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-500);
}

.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--clr-primary-500);
  border-radius: var(--radius);
}

.value-20 {
  width: 20%;
}

.value-25 {
  width: 25%;
}

.value-30 {
  width: 30%;
}

.value-40 {
  width: 40%;
}

.value-70 {
  width: 70%;
}

.value-80 {
  width: 80%;
}

.value-85 {
  width: 85%;
}

.skill-text {
  position: absolute;
  top: -2rem;
  left: 70%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.skill-text-20 {
  left: 20%;
}

.skill-text-25 {
  left: 25%;
}

.skill-text-30 {
  left: 30%;
}

.skill-text-40 {
  left: 40%;
}

.skill-text-80 {
  left: 80%;
}

.skill-text-85 {
  left: 85%;
}

/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}

.timeline-item {
  border-top: 2px dashed var(--clr-primary-500);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}

.timeline p {
  margin-bottom: 0;
}

.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-primary-500);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}

.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary-500);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: none;
  border-top-right-radius: 0;
}

.timeline-item:last-child {
  border-bottom-left-radius: 0;
}

.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-primary-500);
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: var(--clr-white);
  font-weight: bold;
}

.timeline-item:nth-child(even) .number {
  left: 0;
}

.timeline-item:nth-child(odd) .number {
  left: 100%;
}

/*
=============== 
Blog
===============
*/
.blog {
  background: hsl(120, 2%, 81%);
}

.card {
  height: 28.6rem;
  position: relative;
  /* Talk Later */
  -webkit-perspective: 1500px;
  perspective: 1500px;
  margin-bottom: 2rem;
}

.card-front {
  background: var(--clr-primary-500);
}

.card-front h4 {
  color: var(--clr-white);
  background: var(--clr-grey-1);
  text-align: center;
  padding: 0.2rem 0.4rem;
}

.card-front p {
  color: var(--clr-white);
  max-width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-bottom: 0;
  min-height: 145px;
}

.card .blog-name {
  margin-left: 10px;
}

.card-side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  visibility: visible;
}

.card-back {
  background: var(--clr-forth);
  color: var(--clr-white);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-back h4 {
  margin: 2rem 0 0;
  text-align: center;
}

.card-back p {
  padding: 1rem 3rem;
  color: var(--clr-white);
  letter-spacing: 1px;
  font-size: 0.95rem;
  min-height: 325px;
}

.back-links {
  display: flex;
  justify-content: space-around;
}

.back-links a {
  color: white;
}

.card-flip .card-front-flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-flip .card-back-flip {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* Rest Of The Styles */
.card-info {
  padding: 1rem 1.5rem;
}

.card-front img {
  height: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-white);
}

.footer-flex {
  display: flex;
  align-items: center;
}

.card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid var(--clr-grey-1);
  margin-right: 10px;
}

.card-footer p {
  color: var(--clr-white);
  text-transform: uppercase;
  justify-self: end;
  margin-right: 1rem;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.card-footer a {
  text-transform: capitalize;
  color: var(--clr-white);
}

@media screen and (min-width: 650px) {
  .blog-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
=============== 
Footer
===============
*/
.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin: 2rem 0;
}

.footer-icons a {
  color: var(--clr-primary-500);
}

.footer-icons a:hover {
  color: var(--clr-white);
}

.footer p {
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-white);
  text-transform: capitalize;
}

/*
=============== 
Single Page
===============
*/
.single-page {
  background: var(--clr-forth);
}

.single-page h1 {
  color: var(--clr-primary-500);
}

.page-info {
  max-width: 700px;
}

.page-info a {
  text-transform: uppercase;
  color: var(--clr-primary-500);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.page-info a:hover {
  color: var(--clr-white);
}

/* 
===============
About Page
===============
*/
.about-me-center p {
  letter-spacing: 2px;
}

.about-me-center a {
  letter-spacing: 2px;
  color: var(--clr-primary-500);
  transition: var(--transition);
}

.about-me-center a:hover {
  color: var(--clr-white);
}

.about-page-img {
  margin-bottom: 2rem;
  border-radius: var(--radius);
}

@media screen and (min-width: 576px) {
  .about-me-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .about-page-img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 576px) {
  .tech-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tech-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.tech-card {
  border: 2px solid var(--clr-primary-600);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  background: var(--clr-secondary-200);
}

.tech-header {
  text-align: center;
}

.tech-card h4 {
  margin-bottom: 0.5rem;
}

.tech-card .underline {
  height: 2px;
  width: 3rem;
}

.tech-card span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  background: var(--clr-primary-500);
  border: 2px solid var(--clr-primary-600);
  border-radius: var(--radius);
  padding: 0.1rem 0.2rem;
  font-size: 0.9rem;
}

.tech-card p {
  padding: 0 1rem;
  letter-spacing: 1.5px;
  min-height: 225px;
  color: var(--clr-primary-600);
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.icon-container {
  display: flex;
  gap: 0 1rem;
  padding: 0.5rem 1rem;
}

.icon-container i {
  font-size: 1.5rem;
  color: var(--clr-primary-600);
}

/* What To Expect */
.expect-img img {
  border-radius: var(--radius);
}

.expect-info h3 {
  margin-top: 1rem;
}

.expect-info li {
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.expect-info li i {
  margin-right: 6px;
}

@media screen and (min-width: 576px) {
  .expect-center {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/*
=============== 
Projects Page
===============
*/
/* Hero */
.projects-hero {
  background: var(--clr-forth);
  display: grid;
  place-items: center;
}

.projects-hero .section-title {
  color: var(--clr-primary-500);
}

.projects-hero-img img {
  border-radius: var(--radius);
}

.projects-hero-info h3 {
  margin-top: 1rem;
  color: var(--clr-grey-6);
}

.projects-hero p {
  letter-spacing: 1px;
}

@media screen and (min-width: 576px) {
  .projects-hero-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
}

/* Projects */
.single-project {
  background: var(--clr-forth);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 207px;
  object-fit: cover;
}

.project-container {
  position: relative;
}

.project-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  font-size: 1.75rem;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary-500);
  border-radius: 50%;
  color: var(--clr-white);
  border: 0.375rem solid var(--clr-grey-1);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.project-icon:hover {
  background: var(--clr-forth);
  border-color: var(--clr-primary-500);
  color: var(--clr-primary-500);
}

.project-details {
  padding: 2rem 1.5rem;
  color: var(--clr-white);
}

.project-header {
  max-width: 450px;
  margin: 0 auto;
}

.project-details h4 {
  margin-top: 0.5rem;
}

.project-details p {
  min-height: 144px;
  margin-left: auto;
  margin-right: auto;
}

.project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 0.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--clr-grey-1);
}

.footer-wrap {
  background: var(--clr-grey-1);
  padding: 0.15rem 0.25rem;
}

.project-footer span {
  color: var(--clr-white);
  display: grid;
  place-items: center;
  font-size: 1.4rem;
}

.project-footer a {
  color: var(--clr-white);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: flex;
  gap: 0 0.4rem;
}

.project-footer a:hover {
  color: var(--clr-primary-500);
}

@media screen and (min-width: 676px) {
  .projects-page-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-page-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 
===============
Contact Page
===============
*/
.contact-img img {
  border-radius: var(--radius);
}

.contact-info h3,
.contact-info h4 {
  color: var(--clr-grey-6);
}

.contact-info h3 {
  margin-top: 1rem;
}

.contact-info p {
  color: var(--clr-white);
  letter-spacing: 1px;
}

.contact-info a {
  color: var(--clr-white);
}

@media screen and (min-width: 576px) {
  .contact-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .contact-info h3 {
    margin-top: 0;
  }
}

.form-info {
  margin-bottom: 2rem;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url('../images/contact-img-min.jpg') no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/contact-img-min.jpg') no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../images/contact-img-min.jpg') no-repeat center/cover;
  min-height: 20rem;
  border: 2px solid var(--clr-primary-500);
  border-radius: var(--radius);
}

.form-info h3 {
  color: var(--clr-white);
  text-align: center;
  margin-top: 1rem;
  background: var(--clr-primary-500);
  padding: 0.3rem 0.6rem;
}

.contact-list-container {
  width: 90%;
  margin: 0 auto;
  background: hsl(209, 28%, 39%);
  opacity: 0.7;
}

.contact-list {
  list-style-type: disc;
  margin-left: 2rem;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form {
  background: var(--clr-primary-500);
  padding: 1rem 0.5rem;
  border: 2px solid var(--clr-grey-1);
  border-radius: var(--radius);
}

.form h4 {
  background: hsl(209, 28%, 39%);
  color: var(--clr-white);
  border-radius: var(--radius);
  padding: 0.3rem 0.8rem;
  max-width: 250px;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-color: var(--clr-grey-1);
  border-radius: var(--radius);
  letter-spacing: 1px;
  font-size: 0.87rem;
  font-family: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: hsl(209, 28%, 39%);
}

.form-control textarea {
  outline-color: var(--clr-grey-1);
  resize: none;
}

.submit-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formspree-flex {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  color: var(--clr-white);
  letter-spacing: 1px;
}

.form-spree {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid var(--clr-white);
}

@media screen and (min-width: 576px) {
  .form-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
