/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* My Personal Colors */
  --clr-primary: hsl(153, 87%, 27%);
  --clr-primary-a: hsl(135, 100%, 60%);
  --clr-secondary: hsl(193, 93%, 46%);
  --clr-thirdary: hsl(325, 14%, 67%);
  --clr-forth: hsl(220, 24%, 24%);
  --clr-black: hsl(180, 100%, 7%);
  --clr-primary-light: hsl(123, 87%, 91%);
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(108, 90%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  background: var(--clr-primary-a);
}

.btn-secondary {
  background: var(--clr-grey-1);
}

.btn-secondary:hover {
  background: hsl(209, 28%, 39%);
}

.btn-tertiary {
  background: hsl(209, 28%, 39%);
}

.btn-tertiary:hover {
  background: var(--clr-grey-1);
}

.current {
  border-bottom: 2px solid var(--clr-primary);
  padding-bottom: 4px;
}

.sidebar-links .current-2 {
  border-bottom: 2px solid var(--clr-white);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

.bg-white {
  background: var(--clr-white);
}

.bg-purple {
  background: hsl(120, 2%, 81%);
}

/*
=============== 
Navbar
===============
*/
.nav-logo {
  display: inline-block;
  white-space: nowrap;
  color: var(--clr-white);
  border: 2px solid var(--clr-primary);
  padding: 0.2rem 0.5rem;
}

.nav-logo span {
  color: var(--clr-primary);
}

.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--clr-grey-1);
  background: var(--clr-forth);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-white);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-links {
    justify-self: end;
  }
}

/* Fixed Navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-grey-1);
  z-index: 2;
  -webkit-box-shadow: var(--light-shadow);
  box-shadow: var(--light-shadow);
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  z-index: 4;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.show-sidebar {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 1.8rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.1rem 0.6rem;
  border: 2px solid transparent;
}

.sidebar-links a:hover {
  color: #222;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.social-sidebar {
  justify-content: center;
}

.social-icons a {
  color: var(--clr-primary);
  font-size: 1.6rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.social-icons a:hover {
  border-radius: 50%;
  color: #222;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  color: #222;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.close-btn:hover {
  color: rgb(196, 0, 0);
}

.hero .header-social-icons {
  color: var(--clr-primary);
  font-size: 1.5rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border: 2px solid transparent;
}

.hero .header-social-icons:hover {
  color: var(--clr-primary-a);
  border-color: transparent;
}

/*
=============== 
Hero
===============
*/
.hero h1 {
  color: var(--clr-primary);
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-img {
  display: none;
  position: relative;
}

.hero {
  background: var(--clr-grey-1);
  background: var(--clr-forth);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

.hero-info h4 {
  color: var(--clr-grey-5);
}

.hero-icons {
  justify-items: start;
  max-width: 20rem;
}

.hero-btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .hero-img {
    display: block;
  }

  .hero-center {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .hero-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary);
    left: 2rem;
    top: 2rem;
    border-radius: var(--radius);
  }
}

.hero-photo {
  max-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}
/*
=============== 
About
===============
*/

.about {
  background: hsl(120, 2%, 81%);
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 0;
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-photo {
  border-radius: var(--radius);
}

.about-center p {
  letter-spacing: 2px;
}

.about-img {
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .about-center {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

/*
=============== 
Services
===============
*/
.service {
  background: var(--clr-primary);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--clr-grey-1);
}

.service .underline {
  width: 3rem;
  height: 0.15rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background: var(--clr-grey-1);
}

.service:nth-of-type(2) .underline {
  height: 0.1rem;
}

.service h4 {
  color: var(--clr-grey-1);
}

.service p {
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  letter-spacing: 2px;
  max-width: 327px;
  margin: 0 auto 1.25rem;
}

.service hr {
  color: var(--clr-white);
}

.color .service hr {
  color: var(--clr-white);
}

.service-ul {
  margin-top: 1rem;
  color: var(--clr-grey-1);
  text-align: left;
}

.service-ul li {
  transition: var(--transition);
}

.color .service-ul {
  color: var(--clr-white);
}

.service-flex {
  display: flex;
  justify-content: center;
}

.service-flex ul li {
  display: flex;
  align-items: center;
  gap: 0 0.4rem;
}

.service .click-more {
  margin: 1.3rem 0 0;
  color: var(--clr-white);
  font-size: 0.8rem;
}

.color .service {
  background: var(--clr-grey-1);
  color: var(--clr-white);
}

.color p,
.color h4,
.color .service-icon {
  color: var(--clr-white);
}

.color .underline {
  background: var(--clr-white);
}

.hidden {
  display: none;
}

.show .visable {
  display: block;
}

.click .dont-show {
  display: none;
}

@media screen and (min-width: 768px) {
  .services-center {
    height: 815px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1072px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
  }
}

/*
=============== 
Projects
===============
*/
.projects-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
  letter-spacing: 2px;
}

.project {
  position: relative;
  background: var(--clr-primary);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
  padding: 1rem;
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid transparent;
  border-radius: var(--radius);
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  -webkit-transform: scale(-0.8);
  -ms-transform: scale(-0.8);
  transform: scale(-0.8);
  border-color: var(--clr-white);
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: repeat(200px, 200px);
    gap: 1rem;
    grid-template-areas:
      'a b b'
      'a c d';
  }

  .project-img,
  .project {
    height: 100%;
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }

  .project-3 {
    grid-area: c;
  }

  .project-4 {
    grid-area: d;
  }
}

/*
=============== 
Connect
===============
*/
.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.connect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.connect {
  display: grid;
  place-items: center;
}

.video-banner .section-title {
  margin-bottom: 2rem;
}

.video-banner {
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.video-text {
  color: var(--clr-white);
  max-width: 30rem;
}

/*
=============== 
Skills
===============
*/
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.skills {
  background: hsl(120, 2%, 81%);
}

.skills h4 {
  margin: 1.5rem 0;
}

.skill {
  margin-bottom: 1.25rem;
}

.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--clr-primary);
}

.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--clr-primary);
  border-radius: var(--radius);
}

.value-10 {
  width: 30%;
}

.value-70 {
  width: 70%;
}

.value-80 {
  width: 80%;
}

.skill-text {
  position: absolute;
  top: -2rem;
  left: 70%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.skill-text-30 {
  left: 30%;
}

.skill-text-80 {
  left: 80%;
}

/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}

.timeline-item {
  border-top: 2px dashed var(--clr-primary);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}

.timeline p {
  margin-bottom: 0;
}

.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-primary);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}

.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: none;
  border-top-right-radius: 0;
}

.timeline-item:last-child {
  border-bottom-left-radius: 0;
}

.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-primary);
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  color: var(--clr-white);
  font-weight: bold;
}

.timeline-item:nth-child(even) .number {
  left: 0;
}

.timeline-item:nth-child(odd) .number {
  left: 100%;
}

/*
=============== 
Blog
===============
*/
.blog {
  background: hsl(120, 2%, 81%);
}

.card {
  height: 27.5rem;
  position: relative;
  /* Talk Later */
  -webkit-perspective: 1500px;
  perspective: 1500px;
  margin-bottom: 2rem;
}

.card-front {
  background: var(--clr-primary);
}

.card-front h4 {
  color: var(--clr-white);
  background: var(--clr-grey-1);
  text-align: center;
  padding: 0.2rem 0.4rem;
}

.card-front p {
  color: var(--clr-white);
  max-width: 17rem;
  margin-left: auto;
  margin-right: auto;
}

.card .blog-name {
  margin-top: 2px;
  margin-left: 10px;
}

.card-side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  visibility: visible;
}

.card-back {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}

.card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* Rest Of The Styles */
.card-info {
  padding: 1rem 1.5rem;
}

.card-front img {
  height: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid var(--clr-grey-1);
  margin-left: 1rem;
}

.card-footer p {
  color: var(--clr-white);
  text-transform: uppercase;
  justify-self: end;
  margin-right: 1rem;
  font-size: 0.85rem;
}

@media screen and (min-width: 576px) {
  .blog-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .blog-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/*
=============== 
Footer
===============
*/
.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin: 2rem 0;
}

.footer-icons a {
  color: var(--clr-primary);
}

.footer-icons a:hover {
  color: var(--clr-white);
}

.footer p {
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-white);
  text-transform: capitalize;
}

/*
=============== 
Single Page
===============
*/
.single-page {
  background: var(--clr-forth);
}

.single-page h1 {
  color: var(--clr-primary);
}

.page-info {
  max-width: 700px;
}

.page-info a {
  text-transform: uppercase;
  color: var(--clr-primary);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.page-info a:hover {
  color: var(--clr-white);
}

/* 
===============
About Page
===============
*/
@media screen and (min-width: 576px) {
  .tech-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tech-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.tech-card {
  border: 2px solid var(--clr-grey-1);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  outline: 2px solid var(--clr-primary);
  outline-offset: 4px;
}

.tech-header {
  text-align: center;
}

.tech-header h3 {
  background: var(--clr-primary);
  padding: 0.1rem 0.2rem;
  border: 2px solid var(--clr-grey-1);
}

.tech-card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  background: var(--clr-primary);
  border: 2px solid var(--clr-grey-1);
}

/*
=============== 
Projects Page
===============
*/
.projects-hero {
  height: 40vh;
  background: var(--clr-forth);
  display: grid;
  place-items: center;
}

.projects-hero .section-title {
  color: var(--clr-primary);
  margin-bottom: 0;
}

.single-project {
  background: var(--clr-grey-1);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}

.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 207px;
  object-fit: cover;
}

.project-container {
  position: relative;
}

.project-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  font-size: 1.75rem;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary);
  border-radius: 50%;
  color: var(--clr-white);
  border: 0.375rem solid var(--clr-grey-1);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.project-icon:hover {
  background: var(--clr-grey-1);
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}

.project-details {
  padding: 2rem 1.5rem;
  color: var(--clr-white);
}

.project-details h4 {
  margin-top: 0.5rem;
}

.project-details p {
  min-height: 144px;
}

.project-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--clr-grey-1);
}

.project-footer span {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.4rem;
}

.project-footer a {
  color: var(--clr-white);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: flex;
  gap: 0 0.4rem;
}

.project-footer a:hover {
  color: var(--clr-primary);
}

@media screen and (min-width: 676px) {
  .projects-page-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-page-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 
===============
Contact Page
===============
*/
.form-info {
  margin-bottom: 2rem;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url(../images/contact-img.jpg) no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/contact-img.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/contact-img.jpg) no-repeat center/cover;
  min-height: 20rem;
  border: 2px solid var(--clr-primary);
}

.form-info h3 {
  color: var(--clr-white);
  text-align: center;
  margin-top: 1rem;
  background: var(--clr-primary);
  padding: 0.3rem 0.6rem;
}

.contact-list-container {
  width: 90%;
  margin: 0 auto;
  background: hsl(209, 28%, 39%);
  opacity: 0.7;
}

.contact-list {
  list-style-type: disc;
  margin-left: 2rem;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form {
  background: var(--clr-primary);
  padding: 1rem 0.5rem;
  border: 2px solid var(--clr-grey-1);
}

.form h3 {
  text-align: center;
  background: hsl(209, 28%, 39%);
  color: var(--clr-white);
  border: 2px solid var(--clr-grey-1);
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 0.5rem;
  border-color: var(--clr-grey-1);
}

.form-control textarea {
  outline-color: var(--clr-grey-1);
  resize: none;
}

@media screen and (min-width: 576px) {
  .form-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
